<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/teacher/data" method="get">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

<p>I have a slow processing.</p>

</body>
</html>


<h2>HTML Forms</h2>

<form action="/teacher/abc" method="post">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

<p>This is not as easy as it seems.</p>

</body>
</html>

